/* The css for the t shirt site website 
*  Left column which holds the boxes to change the type
*  of the t shirt. Right column holds the t shirt picture.
*/
body {
/* The very background */
/* Colour outside the frame */
    background-color: #E0E0F0;
    font-family: Arial;
    font-size: 15px;
}

#container {
/* This contains every item */
/* The size of the frame inside the webpage */
    margin: auto;
    width: 80%;
    min-width: 1000px;
/* Default colour of everything in the webpage */
    color: #000;
    background-color: #FFF;
    border: 2px double #000;
}

#header {
/* The top of the frame */
/* The border on the bottom of the header */
    border-bottom: 2px double #000;
    text-align: center;
    color: #000;
}

#leftcolumn {
/* This is the left column containing buttons 
  and colour altering properties */
    padding: 10px;
    float: left;
    position: relative;
}

#rightcolumn {
/* Right hand side, with the t shirt picture */
    padding: 10px;
    float: right;
    position: relative;
}

#footer {
/* Footer of the page */
    border-top: 2px double #000;
    padding: 20px 0;
    background-color: #E038AD;
    color: #000;
    font-size: xx-small;
    font-style: italic;
    text-align: center;
    clear: both;
}

.shirtText {
/* Text on the shirt */
/* Makes spaces in the text box go into normal spaces
    as the user perceives them */
    white-space: pre;
    position: relative;
    height: 20px;
    width: 120px;
    left: 150px;
    bottom: 220px;
    word-wrap: break-word;
    text-align: center;
}

.pic {
/* The picture placed on the shirt e.g. apple */
    position: absolute;
    top: 115px;
    right: 195px;
    visibility: hidden;
}

.tShirt {
/* T shirt picture  */
    position: relative;
    width: 350px;
    height: 300px;
    margin: 40px;
}