//
// The SCSS for the t shirt site website.
// Left column which holds the boxes to change the type
// of the t shirt. Right column holds the t shirt picture.
//

$colour-background: #fff;
$colour-panel: #A5FFD6;
$colour-banner: #84DCC6;
$colour-text: #222;

.right {
  float: right;
}

body {
  background-color: $colour-background;
  font-family: Arial;
  font-size: 15px;
}

.wrapper {
  background-color: $colour-panel;
  color: $colour-text;
  margin: auto;
  min-width: 1000px;
  width: 80%;
}

header,
footer {
  background-color: $colour-banner;
  border: 2px double $colour-banner;
  color: $colour-text;
  text-align: center;
}

header {
    font-size: 20px;
}

footer {
  font-size: 10px;
  font-style: italic;
  padding: 20px 0;
  text-align: center;
}

/* Text on the shirt */
/* Makes spaces in the text box go into normal spaces
  as the user perceives them */
.shirtText {
  bottom: 220px;
  height: 20px;
  left: 128px;
  position: relative;
  text-align: center;
  white-space: pre;
  width: 120px;
  word-wrap: break-word;
}

/* The picture placed on the shirt e.g. apple */
.pic {
  position: absolute;
  right: 195px;
  top: 115px;
  visibility: hidden;
}

/* T shirt picture  */
.tShirt {
  margin: 40px;
  position: relative;
}
